{% extends "layouts/basef.html" %}

    <!-- End Top Search -->
    {% block content %}
    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="/static/assets/frontend/images/pic1.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Review  <br> the Brand you love</strong></h1>
                            <p class="m-b-40">Read Reviews. Write Reviews. Shop Smarter </p>
                            <p><a class="btn hvr-hover" href="#">Review Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="/static/assets/frontend/images/pic2.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Review <br> the Brand you love</strong></h1>
                            <p class="m-b-40">Read Reviews. Write Reviews. Shop Smarter </p>
                            <p><a class="btn hvr-hover" href="#">Review Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
           
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <div class="categories-shop">
        <div class="container">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Categories</h1>
<p> This is list of all categories. Select a category you want to review items of.</p>                    </div>
            </div>
            <div class="row">
                {% for cat in cats %}

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        {% if cat.category_image %}
                        <img class="img-fluid" src={{cat.category_image.url}} alt="" />
                       {% endif %}
                        <a class="btn hvr-hover" href="/productsCat/{{cat.id}}">{{cat.name}}</a>
                    </div>
                </div>
                {% endfor %}
               <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/static/assets/frontend/images/categories_img_02.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Lorem ipsum dolor</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="/static/assets/frontend/images/categories_img_03.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Lorem ipsum dolor</a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <!-- End Categories -->
	<!--
	<div class="box-add-products">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="/static/assets/frontend/images/add-img-01.jpg" alt="" />
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="offer-box-products">
						<img class="img-fluid" src="/static/assets/frontend/images/add-img-02.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</div>
-->
    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Products</h1>
<p> These are top and featured products that are being reviewed by </p>                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Top Rated</button>
                            <button data-filter=".best-seller">New Products</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
               
                {% for product in products %}
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="new"> <i style="margin-right: 0px;" class="fa fa-star"></i>  <i style="margin-right: 0px;" class="fa fa-star"></i> 
                                    <i style="margin-right: 0px;" class="fa fa-star"></i>  <i style="margin-right: 0px;" class="fa fa-star"></i> 
                                    <i style="margin-right: 0px;" class="fa fa-star"></i> </p>
                            </div>
                            <img src={{product.product_image.url}} class="img-fluid" alt="Image">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="/reviewsFront/{{product.id}}" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="/addReviewF/{{product.id}}">Add Review</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>{{product.name}}</h4>
                            <h5> {{product.price}}</h5>
                        </div>
                    </div>
                </div>

                {% endfor %}

            
            </div>
        </div>
    </div>
    <!-- End Products  -->

    {% endblock content %}
    
