{% extends "layouts/basef.html" %}

{% block title %} Reviews {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if type == "grid" %}
        <div class="row">
            <div class="col-md-12">
              <div class="card"> 
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-lg-12">
                        <div class="title-all text-center">
                            <h1>Reviews</h1>
    <p> These are list of reviews on product </p>                    </div>
                    </div>
                </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Product Name
                        </th>
                        <th>
                          Review
                        </th>
                        <th>
                          Reviewer Name
                        </th>
                       
                        
                      </thead>
                      <tbody>
                        {% for review in reviews %}
                        <tr>
                          <td>
                            {{review.id}}
                          </td>
                          <td>
                            {{review.product_id}}
                          </td>
                          <td>
                            {{review.description}}
                          </td>
                          
                          <td class="text-primary">
                            {{review.reviewer_id}}
                          </td>

                        </tr>
                        {% endfor %}
                      
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
         
        </div>
        {% endif %}
        {% if type == "add" %}
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">
                  Add Review
                </h4>
              </div>
              <div class="card-body">
      
                <h6 class="card-category">
                    {% if msg %}
                      <span class="text-danger">{{ msg }}</span>
                    {% else %}
                      Add review for a selected Product
                    {% endif %}  
                </h6>
                
                <br />
      
                {% if success %}
      
                   
      
                {% else %}
                  <form role="form" method="post" action="">
                      
                    {% csrf_token %} 
      
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Review Id</label>
                          <input type="number" class="form-control" name="id" placeholder="{{ form.id }}

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Product Id *</label>
                          <input type="text" class="form-control" name="product_id" placeholder="{{ form.reviewer_id }}
                        </div>
                      </div>
                    </div>
                    
                    <span class="text-danger">{{ form.username.errors }}</span>
      
                    <br />
      
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Reviewer Id *</label>
                          <input type="text" class="form-control" name="reviewer_id">
                        </div>
                      </div>
                    </div>
                    <span class="text-danger">{{ form.email.errors }}</span>
      
                    <br />
      
                    <div class="row">
                     
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating"> Review</label>
                          <input type="text" class="form-control" name="description">
                        </div>
                      </div>
                    </div>
                    <span class="text-danger">{{ form.password1.errors }}</span>
      
                    <br />
      
                  
      
                    <button type="submit" name="register" class="btn btn-primary pull-left">Add Review</button>
      
                    &nbsp; &nbsp; 
                    
      
                    <div class="clearfix"></div>
      
                  </form>
                {% endif %}
      
              </div>
            </div>
          </div>
        </div>
        {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
