{% extends "layouts/base.html" %}

{% block title %} Reviews {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% if type == "grid" %}
        <div class="row">
            <div class="col-md-12">
              <div class="card"> 
                <div class="card-header card-header-primary">
                <div class="row">
                <div class="col-md-6">
                  <h4 class="card-title ">Reviews</h4>
                  
                  <p class="card-category"> Here is a subtitle for this table</p>
                 
                </div>
                <div class="col-md-6">
                <a class="card-title" style="float: right;" href="/addReview">
                  <i class="material-icons">add</i> 
                  Add New 
                </a>
              </div>
              </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Product Name
                        </th>
                        <th>
                          Review
                        </th>
                        <th>
                          Reviewer Name
                        </th>
                        <th>
                         Action
                        </th>
                        
                      </thead>
                      <tbody>
                        {% for review in reviews %}
                        <tr>
                          <td>
                            {{review.id}}
                          </td>
                          <td>
                            {{review.product_id}}
                          </td>
                          <td>
                            {{review.description}}
                          </td>
                          
                          <td class="text-primary">
                            {{review.reviewer_id}}
                          </td>
                          <td ><a href=""> <i class="material-icons">edit</i></a><a href="/deleteReview/{{review.id}}"> <i class="material-icons">delete</i> </a></td>

                        </tr>
                        {% endfor %}
                      
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
         
        </div>
        {% endif %}
        {% if type == "add" %}
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">
                  Add Review
                </h4>
              </div>
              <div class="card-body">
      
                <h6 class="card-category">
                    {% if msg %}
                      <span class="text-danger">{{ msg }}</span>
                    {% else %}
                      Add review for a specific Product
                    {% endif %}  
                </h6>
                
                <br />
      
                {% if success %}
      
                  <p class="">
                    Please <a href={% url 'login' %} class="text-black text-small">authenticate</a> using the new account.
                  </p>  
      
                {% else %}
                  <form role="form" method="post" action="">
                      
                    {% csrf_token %} 
      
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Review Id</label>
                          <input type="number" class="form-control" name="id" placeholder="{{ form.id }}

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Product Id *</label>
                          <input type="text" class="form-control" name="product_id">
                        </div>
                      </div>
                    </div>
                    
                    <span class="text-danger">{{ form.username.errors }}</span>
      
                    <br />
      
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Reviewer Id *</label>
                          <input type="text" class="form-control" name="reviewer_id">
                        </div>
                      </div>
                    </div>
                    <span class="text-danger">{{ form.email.errors }}</span>
      
                    <br />
      
                    <div class="row">
                     
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating"> Review</label>
                          <input type="text" class="form-control" name="description">
                        </div>
                      </div>
                    </div>
                    <span class="text-danger">{{ form.password1.errors }}</span>
      
                    <br />
      
                  
      
                    <button type="submit" name="register" class="btn btn-primary pull-left">Add Review</button>
      
                    &nbsp; &nbsp; 
                    <span class="pull-right">
                      Have an account? <a href="{% url 'login' %}" class="text-primary">Login</a>
                    </span>
      
                    <div class="clearfix"></div>
      
                  </form>
                {% endif %}
      
              </div>
            </div>
          </div>
        </div>
        {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
